# SQLAlchemy Homework

In [1]:
from sqlalchemy import Column, Text, Integer
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pandas as pd

In [2]:
from configparser import ConfigParser, ExtendedInterpolation

config = ConfigParser(interpolation=ExtendedInterpolation())
config.read('../../config.ini')
HW_DB_PATH = config['DATABASES']['HW_DB_PATH']

In [3]:
# createa a declarative base
# to inherit the functionality to create a database

#### Create a Documents table with the following information:

- TABLENAME = 'DOCUMENTS'
- document_id (Integer, primary_key)
- path = (Text)
- filename (Text)
- document_text = (Text)
- table_text = (Text)
- last_modified_by = (Text)
- author = (Text)
- created = (Text)
- revision = (Text)
- num_tables = (Text)

In [4]:
# provide a class name for the database table
class Documents(Base):

    # provide a name used in SQL to query the table

    # provide column names and data types
    # for each field in the database
    # additional paramater are available for the columns
    # and data types

#### Create a Sections table with the following information:

- TABLENAME = 'SECTIONS'
- section_id = (Integer, primary_key)
- filename = (Text)
- section_name = (Text)
- section_text = (Text)

In [5]:
class Sections(Base):
    
    # provide a name used in SQL to query the table

    # provide column names and data types 
    # for each field in the database

##### Create Database

In [6]:
# instantiate the database connection

# create the tables in the database

##### create a engine and session object to query database

### Populate the Documents table

##### Documents

In [18]:
# create two document examples to load the homework database

doc1 = {
      'completed_path':'path1'
    , 'filename':'filename1'
    , 'document_text':'document_text1'
    , 'table_text':'table_text1'
    , 'author':'author1'
    , 'last_modified_by':'last_modified_by1'
    , 'created':'created1'
    , 'revision':'revision1'
    , 'num_tables':'num_tables1'
}

doc2 = {
      'completed_path':'path2'
    , 'filename':'filename2'
    , 'document_text':'document_text2'
    , 'table_text':'table_text2'
    , 'author':'author2'
    , 'last_modified_by':'last_modified_by2'
    , 'created':'created2'
    , 'revision':'revision2'
    , 'num_tables':'num_tables2'
}

documents = [doc1, doc2]

In [19]:
# add records to the documents table

for document in documents:
    # populate the Documents record with data from the document examples
    doc = Documents(
        # TODO
    )
    # add the document to the session
    session.add(doc)

# commit (save) all annual reports to the database
session.commit()

In [20]:
# query database to check if data was added
pd.read_sql('SELECT * FROM Documents' , engine)

,document_id,path,filename,document_text,table_text,last_modified_by,author,created,last_printed,revision,num_tables
0,1,path1,filename1,document_text1,table_text1,last_modified_by1,author1,created1,None,revision1,num_tables1
1,2,path2,filename2,document_text2,table_text2,last_modified_by2,author2,created2,None,revision2,num_tables2

In [24]:
# Optional - Delete data from the Documents table 
# This may be useful while testing the homework

### UNCOMMENT TO DELETE DOCUMENTS FROM DATABASE
# session.execute("DELETE FROM Documents")
# session.commit()

##### Sections

In [28]:
# create two section examples to load the homework database
sections = {
      'section_name1':'section_text1'
    , 'section_name2':'section_text2'
    , 'section_name3':'section_text3'
    , 'section_name4':'section_text4'
    , 'section_name5':'section_text5'
}

In [29]:
# insert each document section
#   NOTE: use sections.items to access the key, value pairs
#   from the sections dictionary
#   Example: https://www.tutorialspoint.com/python/dictionary_items.htm

# iterate through the sections dictionary

    # create a sections object
    section = 

    
    # add the section to the session
    session.add(section)

# commit the session to save all sections to the database
session.commit()

In [32]:
# query database to check if data was added
pd.read_sql('SELECT * FROM Sections' , engine)

Empty DataFrame
Columns: [section_id, filename, section_name, section_text]
Index: []

In [31]:
# Optional - Delete data from the Sections table 
# This may be useful while testing the homework

### UNCOMMENT TO DELETE SECTIONS FROM DATABASE
# session.execute("DELETE FROM Sections")
# session.commit()