# SQLAlchemy Homework

In [36]:
from sqlalchemy import Column, Text, Integer
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pandas as pd

In [37]:
from configparser import ConfigParser, ExtendedInterpolation

config = ConfigParser(interpolation=ExtendedInterpolation())
config.read('../../config.ini')
HW_DB_PATH = config['DATABASES']['HW_DB_PATH']

In [38]:
# createa a declarative base
# to inherit the functionality to create a database
Base = declarative_base()

#### Create a Documents table with the following information

In [39]:
# provide a class name for the database table
class Documents(Base):

    # provide a name used in SQL to query the table
    __tablename__ = 'DOCUMENTS'

    # provide column names and data types
    # for each field in the database
    # additional paramater are available for the columns
    # and data types
    document_id = Column(Integer(), primary_key=True)
    path = Column(Text())
    filename = Column(Text())
    document_text = Column(Text())
    table_text = Column(Text())
    last_modified_by = Column(Text())
    author = Column(Text())
    created = Column(Text())
    last_printed = Column(Text())
    revision = Column(Text())
    num_tables = Column(Text())

#### Create a Sections table with the following information

In [40]:
class Sections(Base):
    __tablename__ = 'SECTIONS'

    section_id = Column(Integer(), primary_key=True)
    filename = Column(Text())
    section_name = Column(Text())
    section_text = Column(Text())

##### Create Database

In [41]:
# instantiate the database connection
engine = create_engine(HW_DB_PATH)

# create the tables in the database
Base.metadata.create_all(engine)

##### create session object to query database

In [42]:
engine = create_engine(HW_DB_PATH)
Session = sessionmaker(bind=engine)
session = Session()

##### Populate the Documents table

In [43]:
# create two document examples to load the homework database

doc1 = {
      'completed_path':'path1'
    , 'filename':'filename1'
    , 'document_text':'document_text1'
    , 'table_text':'table_text1'
    , 'author':'author1'
    , 'last_modified_by':'last_modified_by1'
    , 'created':'created1'
    , 'revision':'revision1'
    , 'num_tables':'num_tables1'
}

doc2 = {
      'completed_path':'path2'
    , 'filename':'filename2'
    , 'document_text':'document_text2'
    , 'table_text':'table_text2'
    , 'author':'author2'
    , 'last_modified_by':'last_modified_by2'
    , 'created':'created2'
    , 'revision':'revision2'
    , 'num_tables':'num_tables2'
}

documents = [doc1, doc2]

In [58]:
for document in documents:
    doc = Documents(
          path=document['completed_path']
        , filename=document['filename']
        , document_text=document['document_text']
        , table_text=document['table_text']
        , author=document['author']
        , last_modified_by=document['last_modified_by']
        , created=document['created']
        , revision=document['revision']
        , num_tables=document['num_tables']
    )
    # add the document to the session
    session.add(doc)

# commit (save) all annual reports to the database
session.commit()

In [59]:
# query database to check if data was added
pd.read_sql('SELECT * FROM Documents' , engine)

,document_id,path,filename,document_text,table_text,last_modified_by,author,created,last_printed,revision,num_tables
0,1,path1,filename1,document_text1,table_text1,last_modified_by1,author1,created1,None,revision1,num_tables1
1,2,path2,filename2,document_text2,table_text2,last_modified_by2,author2,created2,None,revision2,num_tables2

In [60]:
# Optional - Delete data from the Documents table 
# This may be useful while testing the homework

session.execute("DELETE FROM Documents")
session.commit()

##### Populate the Sections table

In [46]:
# create two section examples to load the homework database
sections = {
      'section_name1':'section_text1'
    , 'section_name2':'section_text2'
    , 'section_name3':'section_text3'
    , 'section_name4':'section_text4'
    , 'section_name5':'section_text5'
}

In [52]:
# insert each document section
#   NOTE: use sections.items to access the key, value pairs
#   from the sections dictionary
#   Example: https://www.tutorialspoint.com/python/dictionary_items.htm

# iterate through the sections dictionary
for section_name, section_text in sections.items():
    # create a sections object
    section = Sections(
          filename=doc.filename
        , section_name=section_name
        , section_text=section_text
    )
    # add the section to the session
    session.add(section)

# commit the session to save all sections to the database
session.commit()

In [53]:
# query database to check if data was added
pd.read_sql('SELECT * FROM Sections' , engine)

   section_id   filename   section_name   section_text
0           1  filename2  section_name1  section_text1
1           2  filename2  section_name2  section_text2
2           3  filename2  section_name3  section_text3
3           4  filename2  section_name4  section_text4
4           5  filename2  section_name5  section_text5

In [50]:
# Optional - Delete data from the Sections table 
# This may be useful while testing the homework

session.execute("DELETE FROM Sections")
session.commit()